<!DOCTYPE html>
<html>
<head>
  <title>Cardio!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <div>Welcome <%= current_user.name %> <span style="font-size:10px;"> <%= link_to "Log out", sign_in_path, method: :delete, confirm: "Are you sure you want to log out?"%> </span> </div>  
	<%else%>
	<div>
	<%= link_to "Sign in", sign_in_path %> - <%= link_to "Sign up", new_user_path %>
	</div>
  <% end %>
  <%= yield %>


</body>
</html>
